@model DataObjects.BookVM

@{
    ViewBag.Title = "Details for " + Model.Title;
}

<h4 class="mt-3">Book Details</h4>
<hr />

<div class="container">
    <div class="row">
        <p><strong>Title:</strong> @Html.DisplayFor(model => model.Title) </p>
    </div>
    <div class="row">
        <dl class="dl-horizontal mr-5">
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookCategoryID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookCategoryID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WholesalePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WholesalePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Authors)
            </dt>
            @foreach (var author in Model.Authors)
            {
                <dd>
                    @author.FamilyName, @author.GivenName
                </dd>
            }
        </dl>

        <dl class="dl-horizontal mr-3">
            <dt>
                @Html.DisplayNameFor(model => model.BookConditionID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookConditionID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookGenreID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookGenreID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SalePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuantityByTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityByTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationID)
            </dd>
        </dl>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Edit", "Edit", new { ISBN = Model.ISBN }, new { @class = "btn btn-secondary btn-sm" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-sm ml-2" })
        </p>
    </div>
</div>

